<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./css/bootstrap.min.css">
<title>AmazonTool</title>

<div class="container">
  <div class="row pt-4">
    <div class="col-md-12">
      <h1>AmazonTool</h1>
      <p>Hello, World</p>
      <div class="mt-4">
        <p>最初のアプリケーション</p>
      </div>
  </div>
</div>

<script src="/eel.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/jquery-3.3.1.min.js"></script>
<script>
  // 右クリックイベントをスルー
  document.oncontextmenu = function () {
    return false;
  }
  // 終了イベント
  window.onclose = function () {
    eel.exit_system() // pythonで定義した exit_system 関数を実行
  }
</script>